<h2> Level Income</h2>

<table id="myTable">
  <tr class="header">
    <th style="width:5%;">S.No</th>
    <th style="width:10%;">Level</th>
    <th style="width:10%;">Members</th>
    <th style="width:15%;">Referral Amount</th>
    <th style="width:15%;">Referral Income</th>
    <th style="width:15%;"> Active Members</th>
    <th style="width:10%;"> Withdrawal Income </th>
  </tr>
<!---------------------------------------- First Values------------------------------------------------>
<tr>
  <th style="width:5%;">1</th>
  <th style="width:10%;">Level 1</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹300</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>


<!---------------------------------------- Second Values------------------------------------------------>
<tr>
  <th style="width:5%;">2</th>
  <th style="width:10%;">Level 2</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹65</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>

<!---------------------------------------- Third Values------------------------------------------------>
<tr>
  <th style="width:5%;">3</th>
  <th style="width:10%;">Level 3</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹50</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>

<!---------------------------------------- Fourth Values------------------------------------------------>
<tr>
  <th style="width:5%;">4</th>
  <th style="width:10%;">Level 4</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹40</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>

<!---------------------------------------- Five Values------------------------------------------------>
<tr>
  <th style="width:5%;">5</th>
  <th style="width:10%;">Level 5</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹30</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>

<!---------------------------------------- Six Values------------------------------------------------>
<tr>
  <th style="width:5%;">6</th>
  <th style="width:10%;">Level 6</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹25</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>

<!---------------------------------------- Seventh Values------------------------------------------------>
<tr>
  <th style="width:5%;">7</th>
  <th style="width:10%;">Level 7</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹20</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>

<!---------------------------------------- Eigth Values------------------------------------------------>
<tr>
  <th style="width:5%;">8</th>
  <th style="width:10%;">Level 8</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹20</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>

<!---------------------------------------- Ninth Values------------------------------------------------>
<tr>
  <th style="width:5%;">9</th>
  <th style="width:10%;">Level 9</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹15</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>

<!---------------------------------------- Tenth Values------------------------------------------------>
<tr>
  <th style="width:5%;">10</th>
  <th style="width:10%;">Level 10</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹15</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>

<!---------------------------------------- Eleventh Values------------------------------------------------>
<tr>
  <th style="width:5%;">11</th>
  <th style="width:10%;">Level 11</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹10</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>

<!---------------------------------------- Twelth Values------------------------------------------------>
<tr>
  <th style="width:5%;">12</th>
  <th style="width:10%;">Level 12</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹10</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>



<!---------------------------------------- Last Group Values------------------------------------------------>
<tr>
  <th style="width:5%;"> </th>
  <th style="width:10%;">Total</th>
  <th style="width:10%;">0</th>
  <th style="width:15%;">₹600</th>
  <th style="width:15%;">₹0</th>
  <th style="width:15%;">0</th>
  <th style="width:10%;">₹0</th>
</tr>


</table>