
<!--   Collapsing Navbar for everypage-->

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  Site Logo Here 
 <a class="navbar-brand" href="#">Logo</a>
 Collapsibe Button
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobilemenu">
     <span class="navbar-toggler-icon"></span>
 </button>
  Header links 
 <div class="collapse navbar-collapse" id="mobilemenu">
     <ul class="navbar-nav">

      <li class ="nav-item">
        <a href="#" routerLinkActive="active" routerLink="/dashboard">
          <span class="glyphicon glyphicon-user"></span>Dashboard</a>
      </li>

      <li class ="nav-item">
        <a href="#" routerLinkActive="active" routerLink="/sendfreelink">
          <span class="glyphicon glyphicon-user"></span> Send Free Link</a>
      </li>

      <li class ="nav-item">
        <a href="#" routerLinkActive="active" routerLink="/active-account">
          <span class="glyphicon glyphicon-user"></span>Active Account</a>
     </li>
         <li class ="nav-item">
           <a href="#" routerLinkActive="active" routerLink="/team">
             <span class="glyphicon glyphicon-user"></span> Team  </a>
         </li>
         <li class ="nav-item">
           <a href="#" routerLinkActive="active" routerLink="/income">
             <span class="glyphicon glyphicon-user"></span> Income </a>
         </li>
         <li class ="nav-item">
          <a href="#" routerLinkActive="active" routerLink="/payment-history">
            <span class="glyphicon glyphicon-user"></span> Payment History </a>
        </li>
        <li class ="nav-item">
          <a href="#" routerLinkActive="active" routerLink="/contact-us">
            <span class="glyphicon glyphicon-user"></span> Contact Us</a>
        </li>

        <!--  Logout popup -->
        <li class ="nav-item">
          <a href="#" routerLinkActive="active" routerLink="/contact-us">
            <span class="glyphicon glyphicon-user"></span> Logout </a>
        </li>
     </ul>
 </div>
</nav>