<h2> Payment History </h2>
<table>
    <tr>
    <th> Date </th>
    <th> Amount </th>
    <th> Transaction Type </th>
    <th> Last Balance </th>
    <th> Remarks </th>
    </tr>

    <tr>
        <th> 
            <div class="form-group">
            <input ngModel name="birthday" #birthday="ngModel"  type="date" placeholder="Select Your DOB" required birthday> 
         </div>
        </th>
        <th> <form>
            <input list="amount">
            <datalist id="amount">
              <option value="10">
              <option value="20">
              <option value="30">
              <option value="50">
              <option value="100">
            </datalist>
          </form> </th>
        <th> T </th>
        <th> L </th>
        <th> R </th>
    </tr>
</table>