*{
    margin: 0;
    padding: 0;
}
#parent{
    width: 100vw;
    height: 100vh;
    display: flex;
}
#sidediv{
    width: 50vw;
    height: 100vh;
    background:linear-gradient(to right,blue , #37d5d6 );
  
}
#logodiv img{
    width: 40%;
    height: 40%;
}

#sidediv img{
    width: 100%;
    height: 100%;
}
#logindiv{
    width: 50vw;
    height: 100vh;
    display: flex;
   justify-content: center;
   align-items: center;
    background-color: white;
}
#loginparent{
    margin: auto;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: white;

}
#loginchild{
    margin-top: 10%;
    width: 75%;
}
#loginchild input{
    border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3px solid blue;

}
#loginchild button{
    margin-left: 30%;
    padding: 5px;
    color: white;
    background:linear-gradient(to right,blue , #37d5d6 );
  
}
