<app-navbar> </app-navbar>
<div class="row" id="imagediv">
  <img src="../../assets/images/dashboard illustration-01.png" alt="">
</div>
<div class="container-fluid">

  <div class="row ">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" id="Row1">
          <h5 class="card-title"> Your Referals</h5>
          <div class="d-flex" id="card_image">
            <div class="w-100 h-100">
              <img src="../../assets/images/ill 1-01.png" alt="">
            </div>
            <div style="font-size: x-large;" class="text-center p-lg-5">67</div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" id="Row1">
          <h5 class="card-title"> Team Referals</h5>
          <div class="d-flex" id="card_image">
            <div class="w-100 h-100">
              <img src="../../assets/images/ill. 2-01.png" alt="">
            </div>
            <div style="font-size: x-large;" class="text-center p-lg-5">67</div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" id="Row1">
          <h5 class="card-title"> Total Rreferal Income</h5>
          <div class="d-flex" id="card_image">
            <div class="w-100 h-100">
              <img src="../../assets/images/ill. 3-01.png" alt="">
            </div>
            <div style="font-size: x-large;" class="text-center p-lg-5">67</div>

          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" id="Row1">
          <h5 class="card-title"> Direct Referals Income</h5>
          <div class="d-flex" id="card_image">
            <div class="w-100 h-100">
              <img src="../../assets/images/ill. 4-01.png" alt="">
            </div>
            <div style="font-size: x-large;" class="text-center p-lg-5">67</div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" id="Row1">
          <h5 class="card-title"> Total Earning</h5>
          <div class="d-flex" id="card_image">
            <div class="w-100 h-100">
              <img src="../../assets/images/ill. 5-01.png" alt="">
            </div>
            <div style="font-size: x-large;" class="text-center p-lg-5">67</div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" id="Row1">
          <h5 class="card-title"> Wallet Balance</h5>
          <div class="d-flex" id="card_image">
            <div class="w-100 h-100">
              <img src="../../assets/images/ill.6-01.png" alt="">
            </div>
            <div style="font-size: x-large;" class="text-center p-lg-5">67</div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" id="Row1">
          <h5 class="card-title"> Activated account</h5>
          <div class="d-flex" id="card_image">
            <div class="w-100 h-100">
              <img src="../../assets/images/ill. 7-01.png" alt="">
            </div>
            <div style="font-size: x-large;" class="text-center p-lg-5">67</div>

          </div>
        </div>
      </div>



    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body" id="Row1">
          <h5 class="card-title"> Withdrawal Income</h5>
          <div class="d-flex" id="card_image">
            <div class="w-100 h-100">
              <img src="../../assets/images/ill. 8-01.png" alt="">
            </div>
            <div style="font-size: x-large;" class="text-center p-lg-5">67</div>

          </div>
        </div>
      </div>
    </div>


  </div>


  <div class="container" style="background-color:#f1f1f1">
    <button class="nav-item nav-link-edit btn btn-primary" [routerLink]="['']">Back to Home</button>
  </div>