
#imagediv img{
    width: 100%;
    height: 100%;
}

.card{
    background-color: #D5E5EF;
    height: 200px;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row{
    margin-top: 20px;
}
#card_image img{
    margin: 0%;
    width: 100%;
    height: 100%;
}