<div class="row">

<!--image -->
<div class="column">
    <img src="../../assets/images/registration page.jpg" style="width:600px;height:600px;">
    

<!-- form of registration-->
 <div class="column" style="width:600px;float:right;text-align:left; height:300px">   
<form>
        <div class="main-w3layouts wrapper">
            <h1 text-align="center" text-colour="blue"> Registeration Form</h1>
            <div class="main-agileinfo">
                <div class="agileits-top">
                    <form action="#" method="post">
                        <label for="email" text-align:right>Email address:</label>
                         <input ngModel name="email" #email="ngModel"  type="text" placeholder="Email Id" required email> 
                         <label for="email">Username:</label>
                         <input ngModel name="username" #username="ngModel"  type="text" placeholder="Username" required username> 
                         <label for="password">Password:</label>
                         <input ngModel name="password" #password="ngModel"  type="password" placeholder="Password" required password> 
                         <label for="confirmpassword"> Confirm Password:</label>
                         <input ngModel name="confirmpassword" #confirmpassword="ngModel"  type="password" placeholder="Confirm Password" required Confirmpassword> 
                          <div class="wthree-text">
                           <!--<label class="anim">-->
                                <input type="checkbox"class="checkbox" required="">
                                <div class="row">
                                <span > I Agree to Terms & Conditions</span>
                                </div>
                       <!--</label>-->
                            <div class="clear"> </div>
                       </div>
                        <button type="submit" class="btn btn-primary" style="background-color:#8CCADD" (click) ="registerUser()">Sign Up</button>
                    </form>
                    <p>Already have an Account? <a href="#" routerLink="/login"> Login Now!</a></p>
                </div>
            </div>
        </div>
 </form>
 </div>
 </div>
 </div>